@import './_text.css';
@import './_button.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in 0.3s ease-in-out;
}

.shadow-custom {
  box-shadow: -4px 4px 10px 1px rgba(0, 0, 0, 0.21);
}

/* Sprout CSS */
#main-container.spt-container {
  padding: 0 0 0 0;
}
.spt-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  width: 100%;
}
@media (min-width: 768px) {
  .spt-container,
  #main-container.spt-container {
    max-width: 768px;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
}
@media (min-width: 960px) {
  .spt-container,
  #main-container.spt-container {
    max-width: 960px;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (min-width: 1240px) {
  .spt-container,
  #main-container.spt-container {
    max-width: 1240px;
  }
}
@media (min-width: 1512px) {
  .spt-container,
  #main-container.spt-container {
    max-width: 1512px;
  }
}
